// Custom styles.

//自定义背景图片
body{
    background:url(https://api.dujin.org/bing/1920.php);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}

//友链居中
.links-of-blogroll-title {
    text-align: center;
}

//友链文本颜色
.post-body p a{
    text-align: center;
    color: #434343;
    border-bottom: none;
    &:hover {
      color: #5073b8;
      text-decoration: underline;
    }
}

//修改友情链接样式
.links-of-blogroll-item a{
    text-align: center;
    color: #434343;
    border-bottom: none;
    &:hover {
      color: #5073b8;
      text-decoration: underline;
    }
}