// Custom styles.

//自定义背景图片
body{
    background:url(https://api.dujin.org/bing/1920.php);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}